.Weather {
  font-family: "Kanit", sans-serif;
  padding: 16px;
  background-image: linear-gradient(
    to right top,
    #bebdbe,
    #c6c5c7,
    #cececf,
    #d6d6d8,
    #dedfe0,
    #dde0e2,
    #dce2e4,
    #dbe3e5,
    #d2dde2,
    #cbd6df,
    #c7cedc,
    #c5c6d8
  );
  border-radius: 4px;
  border: none;
}

.Weather h1 {
  font-weight: 100;
  line-height: 29px;
  font-size: 24px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.Weather canvas {
  margin-right: 10px;
  display: inline-block;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
}

.loader {
  margin: 100px auto;
  text-align: center;
}
